@import '~src/global'

.content
    @media MOBILE
        margin-top: 23px
        height: calc(100vh - 23px)

    *
        user-select: none

.input
    user-select: text
    &_type_text
        @media MOBILE
            background-color: LCD_BLACK
            border-color: LCD_BLACK
            border-radius: 2px
            border-style: solid
            border-width: 0;
            color: LCD_BEIGE
            font-size: inherit
            height: 1.5em
            padding: 0 0.25em

.button
    @media MOBILE
        background-color: LCD_BEIGE
        color: LCD_BLACK
        border: 2px solid LCD_BLACK
        border-radius: 0px
        display: inline-block
        padding: 5px 1em
        text-decoration: none
    &:active
        @media MOBILE
            color: LCD_BEIGE
            background-color: LCD_BLACK

