MOBILE = "screen and (max-width: 1024px)"
DESKTOP = "screen and (min-width: 1025px)"

MOBILE_WIDE = "(min-width: 641px)"
MOBILE_AVERAGE = "(min-width: 321px) and (max-width: 640px)"
MOBILE_NARROW = "(max-width: 320px)"

MOBILE_SMALL_FONT = 'Mikropix', monospace
MOBILE_NORMAL_FONT = 'ScreenMatrix', monospace

MOBILE_LANDSCAPE = "(min-aspect-ratio: 16/9)"
MOBILE_PORTRAIT = "(max-aspect-ratio: 16/9)"

LCD_BEIGE = #A0AA88
LCD_BLACK = #333 
LCD_SHADOWCOLOR = alpha(LCD_BLACK, 0.4)
