@import '~src/global'

.resource-list
    @media MOBILE
        box-sizing: border-box
        height: 100%
        overflow: auto !important
        &_view
            &_tile
                & > .scroll-area__content
                    padding: 10px
        &-wrapper
            @media MOBILE_PORTRAIT
                height: calc(100% - 64px)
            @media MOBILE_LANDSCAPE
                height: calc(100% - 20px)
                width: calc(100% - 25vh)
                max-width calc(100% - 80px)
